<div class="modal-dialog modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body" style="background-color: #FFFFCC; padding-bottom: 0px;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <h2 class="todo-new">ToDo登録</h2>
      <div class="center jumbotron jumbotron-fluid border" style="background-color: #FFFFFF; padding: 20px 0px;">
        <%= render 'form', {todo: @todoNewData} %>
        
        <%#= link_to 'Show', @event %>
        <%#= link_to 'Back', events_path %>
      </div>

    </div>
  </div>
</div>