<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="center jumbotron jumbotron-fluid" style="background-color: #FFFFCC;">
        <h1>ToDo登録</h1>
        
        <%= render 'form', {todo: @todoNewData} %>
        
        <%#= link_to 'Show', @event %>
        <%#= link_to 'Back', events_path %>
      </div>

    </div>
  </div>
</div>