<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <!--<h1 class="schdule-new">スケジュール新規登録(<%#= @year %>年<%#= @month %>月<%#= @day %>日)</h1>-->
      <h2 class="schdule-new">スケジュール新規登録</h2>
      <div class="center jumbotron jumbotron-fluid" style="background-color: #FFFFCC; padding: 30px 0px;">
        <%= render 'form', {event: @event, year: @year, month: @month, day: @day} %>
        
        <%#= link_to 'Back', events_path %>
      </div>

    </div>
  </div>
</div>