<% provide(:title, "Top") %>
<%#= image_tag 'notebook.jpg', :alt => '手帳写真', class: "img-fluid mt-3 opacity" %>
<div class="main-container mb-5">
  <div class="center jumbotron jumbotron-fluid mt-4" style="background-color: #FFFFCC;">
    <h1>色々とサポートしてくれるWEB手帳</h1>
    <p>このWEB手帳は、予定の記入、ToDoリストの作成・リストの自動整理、PDCAの作成・フォロー、目標設定などが行えます。</p>
    <%= link_to "サインアップ", '#', class: "btn btn-lg btn-primary" %>
  </div>
</div>