<div class="center jumbotron jumbotron-fluid" style="background-color: #FFFFCC;">
    <h1>こんにちは、<%= current_user.username %>さん</h1>
    <p>ユーザー用ページです。</p>
    <div id="calendar" class="schdule bg-white"></div>
</div>
