<% provide(:title, 'スケジュール') %>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<style>
    	#calendar {
    		width: 100%;
    		margin: 0 auto;
    	}
    	.fc-header-toolbar{
    		padding-top:10px;
    		margin-bottom: 6px!important;
    	}
    	.fc-day-grid-event .fc-content{/*--ver 3.9.0 word wrap------*/
    		white-space: normal!important;
    		word-wrap:break-word!important;
    	}
    	/*-- iPhone Vertical View--*/
    	@media screen and (max-width: 480px) {
    		.fc-event {
    			font-size:11px;/*--event title font size--*/
    			margin-bottom: 4px;/*--　帯の隙間 event clearance--*/
    		}
    		/*-- ヘッダ　ツールバー --*/
    		.fc-header-toolbar{
    			position: -webkit-sticky;
    			position: sticky;
    			top: 0px;
    			z-index:9;
    			background-color:white;
    		}
    		/*-- 年月表示 --*/
    		.fc-center h2{
    			margin-top:10px;
    		}
    	}

h1 {
  color: white;
  padding: 0;
  margin: -21px;
  background-color: #4F78A4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
  position: relative;
  /*border-bottom: solid 3px #FFFFCC;*/
  border-radius: 5px 5px 0 0;
  transition: .4s;
}

.title-custom {
  padding: 0.2em 0.5em;/*文字の上下 左右の余白*/
  color: #FFFFFF;/*文字色*/
  background: #4F78A4;/*背景色*/
  border-left: solid 5px #75A9FF; /*#7db4e6;左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

.title-div {
  font-size: 65%;
  color: white;
  padding: 7px 15px;
  margin: -17px -26px;
  background-color: #4F78A4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
  position: relative;
  border-radius: 5px 5px 5px 5px;
  transition: .4s;
}
	  </style>
</head>

<!-- 全イベント一覧(アコーディオン表示) -->
<div class="center jumbotron jumbotron-extend border" style="background-color: #FFFFFF; margin-top: 15px; padding: 5px 0px 3px 0px;">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" href="#collapse1" style="display: block; text-decoration: none; color: black; text-align: left; padding: 5px 25px;">
            <div class="title-div">
              Schedule・ToDo 一覧表示
              <div class="arrow1" style="float: right;"></div>
            </div>
          </a>
        </h3>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <%= render 'all_event_list' %>
        </div>
        <!--<div class="panel-footer">フッター</div>-->
      </div>
    </div>
  </div>
</div>

<!-- スケジュール 表示ページ -->
<div class="jumbotron-schdule jumbotron-extend" style="background-color: #FFFFFF;">
  <h4 class="title-custom">Schedule</h4>
  
  <div class="text-left">
    <%= link_to '予定登録', new_event_path, remote: true, class: "btn btn-outline-primary rounded-pill btn-sm ml-2 mt-1" %>
  </div>

  <div id="calendar" class="schdule bg-white"></div>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="event-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script>
  $(document).ready(function(){
    $(".panel-title").on("click", function() {
      $(".arrow1").toggleClass("arrow2");
    });
  });
</script>