<div class="center jumbotron jumbotron-fluid" style="background-color: #FFFFCC;">
    <h1>こんにちは、<%= current_user.username %>さん</h1>
    <p>ユーザー用ページです。</p>
    
    <div class="text-left">
        <%= link_to '予定登録', new_event_path, class: "btn ml-4 mb-3 btn-primary" %>
    </div>
    
    <div id="calendar" class="schdule bg-white"></div>
</div>
