<% provide(:title, 'LINE通知設定') %>
<body>
  <div class="jumbotron-extend" style="background-color: white; margin-top: 15px;">
    <div class="container mb-5">
    
      <div class="text-center">
        <h2 class="d-inline-block border-bottom border-dark my-5">LINE通知設定</h2>
      </div>
      
      <h3>1.スマートWeb手帳Botを友達追加</h3>
      <div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="@610yamgf" data-count="true" style="display: none;"></div>
      <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      
      <br></br>
      
      <hr></hr>
      <h3>2.LINEアカウント連携</h3>
      <div class="text-left">
        <%= link_to 'LINE連携', line_relation_path, class: "btn mt-2 ml-2 mb-4 btn-outline-primary btn-sm" %>
      </div>

    </div>
  </div>
</body>