// @import "bootstrap-sprockets";
@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.under-extension {
  min-height: 100vh;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  // font-family: 'Meiryo UI', sans-serif;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif;
  // -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  // font-family: 'Meiryo UI', sans-serif;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif;
}

th, td, tr {
  // font-family: 'Meiryo UI', sans-serif;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

@media (max-width: 370px) {
  #logo {
    font-size: 1.6em;
    padding-top: 10px;
  }
}
@media (max-width: 345px) {
  #logo {
    font-size: 1.3em;
    padding-top: 17px;
  }
}


#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// .main-container {
.top {
  background-image: image-url("notebook.jpg");
  // background-image: url("<%= asset-path("notebook.jpg") %>")
  // height: 800px;
  // background-size:contain;
  background-size:cover;
}

.top2{
  background-color: #FFFFFF;
}

.container {
  // font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif;
  // font-family: 'Meiryo UI', sans-serif;
  // padding-top: 60px;
  //margin-top: 10px;
}

.main-container {
  margin-top: 35px;
}

.jumbotron {
  margin-top: 35px;
}

// flashのバックカラー
.notice {
  color: white;
  // background-color: blue;
}
.alert {
  color: white;
//   background-color: red;
}


/*
* Global add-ons
*/
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
  border: 0;
}

/*
* Sidebar
*/
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
#navbar-list-menu {
  display: block;
  margin-top: 4px;
}
@media (min-width: 576px) {
  .sidebar {
    position: fixed;
    top: 1px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  #navbar-list-menu {
    display: none;
  }
  .schdule {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 10px;
  }
  #scroll_to_top {
    display: none;
  }
}

/*
* Main content
*/
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/* Sidebar navigation */
.nav-sidebar {
  // margin-right: -21px; /* 20px padding + 1px border */
  // margin-bottom: 20px;
  margin-left: -16px;
}
.nav-sidebar > li > a {
  padding-right: 15px;
  padding-left: 15px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #4F78A4;
}

 /* サイドバーカスタマイズ関係 */ 
.nav-sidebar {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif;
// 	font-family: 'Meiryo UI', sans-serif;
}

.nav-sidebar li {
  width: 100%;
  padding-right: -20px;
}

.nav-sidebar li a {
	display: block;
	padding: .4em 1.5em;
	text-decoration: none;
	background: #fff;
	color: #333;
	text-align: left;
	margin: .2em 0;
}

.nav-sidebar li a:hover {
	background: #eee;
}

.side-item-custom {
  // display: list-item;
  // list-style-type: none;
  padding: 0.5em;
  font-size: 1.0em;
}

/*
* Placeholder dashboard ideas
*/
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.arrow{
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: #565656 #565656 transparent transparent;
  transform: rotate(45deg);
}
.arrow1{
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #565656 #565656;
  margin-top: -15px;
  margin-right: 10px;
  transform: rotate(-45deg);
}
.arrow1_1{
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #565656 #565656;
  margin-top: -7px;
  margin-right: 10px;
  transform: rotate(-45deg);
}
.arrow2{
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: #565656 #565656 transparent transparent;
  margin-top: 5px;
  transform: rotate(-45deg);
}
.arrow2_1{
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: #565656 #565656 transparent transparent;
  margin-top: 13px;
  transform: rotate(-45deg);
}
.arrow3{
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #565656 #565656;
  transform: rotate(45deg);
}

/* 日曜日 */
.fc-sun {
  color: red;
  background-color: #fff0f0;
}

/* 土曜日 */
.fc-sat {
  color: blue;
  background-color: #f0f0ff;
}

.schdule-new, .todo-new, .memo-new, .goal-new {
  margin-bottom: -25px;
}

// サークルボタン(ToDoリスト)
.btn-circle-todo {
  width: 42px;
}

// サークルボタン(ユーザー一覧)
.btn-circle-user {
  width: 36px;
}

// jumbotronレスポンシブ
@media (min-width: 10px) {
  .jumbotron-extend {
    position: relative;
    left: -8.5%;
    width: 117%;
  }
  .table-wd-response {
    width: 94% !important;
  }
}
@media (min-width: 415px) {
  .jumbotron-extend {
    position: relative;
    left:  0%;
    width: 100%;
  }
  .table-wd-response {
    width: 92% !important;
  }
}
@media (min-width: 576px) {
  .jumbotron-extend {
    position: relative;
    left:  -2%;
    width: 100%;
  }
  .table-wd-response {
    width: 95% !important;
  }
}
@media (min-width: 768px) {
   .table-wd-response {
    width: 96% !important;
  }
}
@media (min-width: 1480px) {
  .jumbotron-extend {
    position: relative;
    left: -5%;
    width: 100%;
  }
  .table-wd-response {
    width: 97% !important;
  }
}
@media (min-width: 1555px) {
  .jumbotron-extend {
    position: relative;
    left: -7%;
    width: 100%;
  }
  .table-wd-response {
    width: 97% !important;
  }
}
@media (min-width: 1625px) {
  .jumbotron-extend {
    position: relative;
    left: -10%;
    width: 100%;
  }
  .table-wd-response {
    width: 97% !important;
  }
}
.jumbotron-schdule {
  margin-top: -15px;
}

#scroll_to_top {
  /* 「TOPに戻る」ボタンにカーソルを載せた時に、
  カーソルが指のマークになるようにしています。 */
  cursor: pointer;

  /* 常にページの右下に表示されるように固定します。 */
  position: fixed;  /* 位置を固定させます。 */
  right: 20px;      /* 画面の右端から20px空けます。 */
  bottom: 20px;     /* 画面の下端から20px空けます。 */
  
  z-index: 100;
}
#scroll_to_top.button {
  /* 「TOPに戻る」ボタンのデザインを整えています。 */
  padding: 0 15px;
  font-size: 15px;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 1em;
  background-color: #eee;
}